{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>YAAS</title>
    <link rel="stylesheet" type="text/css" href="{%  static 'style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{%  static 'login.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{%  static 'search.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{%  static 'list_item.css' %}"/>
    <script type="text/javascript">

   function changeFunc() {
    var selectBox = document.getElementById("selectBox");
    var selectedValue = selectBox.options[selectBox.selectedIndex].value;
    window.location.href='/changeLanguage/'+selectedValue;
   }
 function changeFuncCurrency() {
    var selectBox = document.getElementById("currency");
    var selectedValue = selectBox.options[selectBox.selectedIndex].value;
    window.location.href='/changeCurrency/'+selectedValue;
   }
  </script>
</head>
<body bgcolor="#f5f5f5">
{% block content %}

{% endblock %}
</body>
</html>