{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% block content %}
<body class="align">
  <div class="grid">

    <div id="login">

      <h2><span class="fontawesome-lock"></span>{% trans 'Edit Profile' %}</h2>

      <form action="#" method="POST">
         {% csrf_token %}
        <fieldset>

          <p><label for="username">{% trans 'E-mail Address' %}</label></p>
          <p><input type="email" name="email" placeholder={% trans 'E-mail Address' %}></p>

          <p><label for="password">{% trans 'Password' %}</label></p>
          <p><input type="password" name="password" placeholder={% trans 'Password' %}></p>

       <div style="padding: 40px ;display: inline-block;">
          <p><input type="submit" value={% trans 'Save' %}></p>
       </div>
       <div style="display: inline-block;">
          <p><input type="button" value={% trans 'Cancel' %} onclick="window.location.href='/'"></p>
       </div>

        </fieldset>

      </form>

    </div> <!-- end login -->

  </div>
{% for message in messages %}
<h3>{{ message }}</h3>
{% endfor %}
</body>
{% endblock %}