{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% block content %}
<body class="align">
  <div class="grid">

    <div id="login">

      <h2><span class="fontawesome-lock"></span>{% trans 'Sign Up' %}</h2>

      <form action="#" method="POST">
          {% csrf_token %}

        <fieldset>

          <p><label>{% trans 'Username' %}</label></p>
          <p><input type="text" name="username" placeholder={% trans 'Username' %}></p>

          <p><label>{% trans 'E-mail Address' %}</label></p>
          <p><input type="email" name="email" placeholder="mail@address.com"></p>

          <p><label>{% trans 'Password' %}</label></p>
          <p><input type="password" name="password" placeholder={% trans 'Password' %}></p>

          <p><input type="submit" value={% trans 'Sign-Up' %}></p>

        </fieldset>

      </form>

    </div> <!-- end login -->

  </div>
<div>
    {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}
</div>
</body>
{% endblock %}